.header {
  min-height: 50px;
  width: 100%;
  padding: 0 20px;
  background-color: rgb(52, 135, 158);
  margin-bottom: 6px;
  color: #ffffff;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
